@page
@model MiguelMVC.Views.Estado.IndexModel
@{
}

<div class="text-center">
<<<<<<< HEAD:Miguel/MiguelMVC/MiguelMVC/Views/Estado/Index.cshtml
    <h1 class="display-4">Estado</h1>
=======
    <h1 class="display-4">País</h1>
>>>>>>> feat-pais:Miguel/MiguelMVC/MiguelMVC/Views/Pais/Index.cshtml
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
